//
   Created by Sean Ross on 14/7/2015.

.navbar.navbar-default.navbar-fixed-top
   .container-fluid
      .navbar-header
         button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(href="#") Sean Basic App
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
         ul.nav.navbar-nav
            li.active
               a(href="#") Link
                  span.sr-only (current)
            li
               a(href="#") Link
            li.dropdown
               a(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle Dropdown
                  span.caret
               ul.dropdown-menu
                  li
                     a(href="#") Action
                  li
                     a(href="#") Another action
                  li
                     a(href="#") Something else here
                  li(role="separator").divider
                  li
                     a(href="#") Separated Link
                  li(role="separator").divider
                  li
                     a(href="#") Separated Link 2
         div(ng-include="'/partials/account/navbar-login'")
         ul.nav.navbar-nav.navbar-right
            li
               a(href="#") Link
            li.dropdown
               a(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle Dropdown
                  span.caret
               ul.dropdown-menu
                  li
                     a(href="#") Action
                  li
                     a(href="#") Action
                  li
                     a(href="#") Action
                  li(role="separator").divider
                  li
                     a(href="#") Action