//
   Created by Sean Ross on 12/7/2015.
.container
   .jumbotron
      h1 Sean Pogi Website
      p When you delete the user account, it does not remove the profile folder, and now that the folder is no longer associated with a user profile, it will be listed as "Account Unknown" as you observed.

   .row
      .col-md-6
         div(ng-include="'/partials/featured-courses'")
      .col-md-6
         div(ng-include="'/partials/new-courses'")
